// here smth
@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.contacts {
  &__content {
    @include mixins.layout-grid;
  }
  &__title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 48px;

    @include mixins.on-tablet {
      grid-column: 2 / 6;
    }

    @include mixins.on-desktop {
      grid-column: 5 / 9;
    }
  }

  &__info-wrapper {
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: 1 / 8;

      display: grid;
      gap: 24px;
    }
  }

  &__first-block {
    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: 1 / 4;
    }
  }

  &__second-block {
    @include mixins.on-tablet {
      grid-column: 1 / 4;
    }

    @include mixins.on-desktop {
      grid-column: 5 / 8;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__label {
    margin-bottom: 4px;
  }

  &__phone {
    margin-bottom: 8px;
  }
  &__address {
    max-width: 168px;
    margin-bottom: 48px;
    &--wide {
      max-width: 237px;
    }
  }

  &__form {
    width: 100%;
    grid-column: 1 / -1;

    @include mixins.on-tablet {
      display: grid;
      align-self: start;

      grid-column: 4 / 7;
    }

    @include mixins.on-desktop {
      grid-column: 8 / 13;
    }
  }

  &__input {
    width: 100%;
    display: block;
    margin-bottom: 16px;
  }

  &__message {
    width: 100%;
    display: block;
    resize: none;
    margin-bottom: 32px;
    height: 144px;
  }

  &__button {
    display: block;
    width: 100%;
  }
}
