// here smth
@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.now-on-view {
  &__content {
    @include mixins.layout-grid;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 8px;
  }

  &__text {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 48px;
  }

  &__list {
    grid-column: 1 / -1;

    @include mixins.layout-grid;

    margin-bottom: 24px;

    &--3-col {
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
    }
  }

  &__subtitle {
    grid-column: 1 / -1;
    color: vars.$accent-main;
    font-weight: 700;
  }
  &__undercard-text {
    grid-column: 1 / -1;
    margin-bottom: 48px;
    &--final {
      margin-bottom: 40px;
    }
  }
  &__button {
    grid-column: 1 / -1;
    text-align: center;
  }
}
