/* #region HEADER */
@use '../utils/vars.scss';

.header {
  box-sizing: border-box;
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header--pb {
  padding-bottom: 290px;
}

.header__title {
  box-sizing: border-box;
  width: 280px;

  margin: 0 auto;

  font-family: vars.$main-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: vars.$header-title-size;
  line-height: vars.$header-title-size;

  display: flex;

  align-items: center;
  text-align: center;

  color: #fff;
}

/* #endregion */
