/* #region ICONS */
@use '../utils/mixins';
@use '../utils/vars.scss';

.icon {
  box-sizing: border-box;
  display: block;
  width: vars.$icon-size;
  height: vars.$icon-size;
}

.icon--phone {
  background-image: url('../img/icons/icon-phone.png');
}

.icon--menu {
  background-image: url('../img/icons/icon-burger-menu.png');
}

.icon--close {
  background-image: url('../img/icons/icon-close.png');
}

/* #endregion */
