/* #region SIDEBAR */

.menu {
  background-color: #d12;

  &__content {
    padding-inline: 20px;
    padding-bottom: 31px;
  }

  &__top {
    box-sizing: border-box;
    margin-bottom: 40px;
  }

  &__nav {
    margin-bottom: 32px;
  }

  &__list {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;
    box-sizing: border-box;
    display: block;

    font-family: Cinzel, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #fff;
  }

  &__contacts {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    margin-bottom: 16px;
  }

  &__contact:not(:last-child) {
    margin-bottom: 10px;
  }

  &__contact-description {
    font-family: Cinzel, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    text-transform: uppercase;
    margin: 0;

    // margin: 0 0 10px;

    color: #fff;
  }
  &__contact-link {
    display: block;

    font-family: Cinzel, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    font-family: Cinzel, serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    padding-bottom: 8px;
    border-bottom: 1px solid #fff;

    color: #fff;
  }
}

// .menu__call-to-order::after {
//   content: '';
//   display: block;
//   width: 100%;
//   height: 1px;

//   background-color: #fff;
// }

/* #endregion */
