/* #region TOP-BAR */
@use '../utils/mixins';
@use '../utils/vars';

.top-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--mb {
    margin-bottom: 130px;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__logo {
    display: block;

    @include mixins.hover(transform, scale(1.2));
  }

  &__img {
    width: 64px;
    height: 46px;
    display: block;
  }
}

/* #endregion */
