/* #region PAGE*/

.page {
  font-family: Cinzel, serif;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
}

.page__body {
  margin: 0;
}

.page-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  pointer-events: none;
}

.page-menu:target {
  opacity: 1;
  pointer-events: all;
}
/* #endregion */
/* #region HEADER*/

.header {
  box-sizing: border-box;
  background-image: url('../img/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 25px 20px 290px;
}

.header__top {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 130px;
}

.header__logo-link {
  display: block;
}

.header__logo-img {
  display: block;
}

.header__list {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header__title {
  box-sizing: border-box;
  width: 280px;

  margin: 0 auto;

  font-family: Cinzel, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 43px;

  display: flex;

  align-items: center;
  text-align: center;

  color: #fff;
}

/* #endregion */
/* #region ICONS*/
.icon {
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
}

.icon--phone {
  background-image: url('../img/icons/icon-phone.png');
}

.icon--menu {
  background-image: url('../img/icons/icon-burger-menu.png');
}

.icon--close {
  background-image: url('../img/icons/icon-close.png');
}

/* #endregion */
/* #region SIDEBAR*/
.menu {
  box-sizing: border-box;
  padding: 25px 20px 31px;
  background-color: #d12;
}

.menu-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #endregion */
