@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-inline: vars.$padd-inline--sm;

  @include mixins.on-tablet {
    min-width: vars.$tablet-min-width;
    padding-inline: vars.$padd-inline--md;
  }

  @include mixins.on-desktop {
    max-width: vars.$desktop-min-width;
    padding-inline: vars.$padd-inline--lg;
  }
}
