@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.footer {
  height: 180px;

  background-image: url(../img/footer/footer.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  object-position: top;

  @include mixins.on-tablet {
    height: 360px;
    background-image: url(../img/footer/footer-tablet.webp);
    object-position: center;
  }

  @include mixins.on-desktop {
    background-image: url(../img/footer/footer-desktop.webp);
  }
}
