@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.main {
  display: grid;
  row-gap: vars.$main-gap;
  padding-block: vars.$main-gap;

  @include mixins.on-tablet {
    row-gap: vars.$main-gap-md;
    padding-block: vars.$main-gap-md;
  }
}
