$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$main-font-family: Cinzel, serif;
$main-font-size: 16px;
$main-line-height: 27px;
$main-color: #161616;
$main-gap: 100px;
$padd-inline--sm: 20px;
$padd-inline--md: 72px;
$padd-inline--lg: 120px;
$header-title-size: 43px;
$transition-base-time: 0.3s;
$icon-size: 24px;
$underline-hover-height: 1px;
$underline-hover-bcg-color: #fff;
$underline-hover-bottom: -8px;
$menu-bg: #d12;
$accent-main: #d12;
$menu-link-color: #fff;
$menu-link-size: 22px;
$menu-spacing-bottom: 32px;
$section-title-size-sm: 32px;
$section-title-size-md: 48px;
$section__title--museum-hours-mb: 32px;
$section__title--museum-hours-mb-md: 16px;
$section__title--now-on-view-mb: 8px;
$section__title--explore-online-mb: 40px;
$section__title--contacts-mb: 48px;
