// smth
// @use '../../utils/mixins';

@use '../../utils/vars.scss';

.button {
  color: vars.$menu-link-color;
  padding-block: 15px;
  border: none;
  outline: none;
  background: vars.$accent-main;
}

.button:hover {
  background-color: vars.$button-hover;
  cursor: pointer;
}

.button:active {
  cursor: pointer;
  background-color: vars.$button-active;
}
