@use '../../utils/vars.scss';
@use '../../utils/mixins.scss';

.label {
  font-family: vars.$main-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;

  color: vars.$accent-main;
}
