@use '../../utils/vars.scss';

.text {
  font-family: vars.$main-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: vars.$main-font-size;
  line-height: vars.$main-line-height;

  /* Main dark */
  color: vars.$main-color;

  &--font-family-roboto {
    font-family: vars.$second-font-family;
  }

  &--bold {
    font-weight: 700;
  }

  &--small {
    font-size: 14px;
  }
}

// top: 3316px;
