@use '../../utils/vars.scss';
@use '../../utils/mixins';

.title {
  font-family: vars.$main-font-family;
  font-style: normal;
  font-weight: 700;
  font-size: vars.$section-title-size-sm;
  line-height: vars.$section-title-size-sm;

  letter-spacing: -1.5px;

  color: vars.$main-color;

  @include mixins.on-tablet {
    font-size: vars.$section-title-size-md;
    line-height: vars.$section-title-size-md;
  }
}
