/* #region SIDEBAR */
@use '../../utils/vars.scss';
@use '../../utils/mixins';

.menu {
  background-color: vars.$menu-bg;
  height: 100vh;
  overflow: auto;

  // &__content {
  // padding-bottom: 31px;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: vars.$menu-bg;
    margin-bottom: 40px;

    @include mixins.on-tablet {
      margin-bottom: 55px;
    }
  }

  &__nav {
    margin-bottom: vars.$menu-spacing-bottom;

    @include mixins.on-desktop {
      margin-bottom: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__link {
    text-decoration: none;

    display: block;
    width: fit-content;

    font-family: vars.$main-font-family;
    font-style: normal;
    font-weight: 700;

    font-size: vars.$menu-link-size;
    line-height: 22px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: vars.$menu-link-color;

    @include mixins.underline-hover;
  }

  &__contacts {
    margin-bottom: 16px;
  }

  &__contact:not(:last-child) {
    margin-bottom: 10px;
  }

  &__contact-description {
    font-family: vars.$main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    text-transform: uppercase;
    margin: 0;

    color: #fff;
  }

  &__contact-link {
    display: block;
    width: fit-content;

    font-family: vars.$main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    text-decoration: none;
    text-transform: uppercase;

    color: #fff;

    @include mixins.underline-hover;
  }

  &__call-to-order {
    display: block;
    width: fit-content;

    font-family: vars.$main-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    color: #fff;

    @include mixins.underline-hover;
  }
}

/* #endregion */
