/* #region TOP-BAR */
@use '../../utils/mixins';
@use '../../utils/vars';

.top-bar {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixins.on-tablet {
    padding-top: 50px;
  }

  &--mb {
    margin-bottom: 130px;

    @include mixins.on-tablet {
      margin-bottom: 141px;
    }

    @include mixins.on-desktop {
      margin-bottom: 83px;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  &__logo {
    display: block;

    @include mixins.hover(transform, scale(1.2));
  }

  &__img {
    width: 64px;
    height: 46px;
    display: block;

    @include mixins.on-tablet {
      width: 87px;
      height: 65px;
    }
  }
}

/* #endregion */
